<!DOCTYPE html>
{{!-- Setting the site language via the admin panel setting and @site --}}
<html lang="{{@site.locale}}">


<head>
    {{!-- Boilerplate head HTML --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- Link to stylesheet with the asset helper --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- The title of the post is used as the title of the page. meta_title is set in admin or post title is used --}}
    <title>{{meta_title}}</title>
    
    {{!-- Outputs important meta data and settings, should always be in <head> --}}
    {{ghost_head}}
    

</head>

{{!-- * Outputs different classes on different pages, depending on what context the page belongs to. --}}
<body class="{{body_class}}">
    

<div class="gh-viewport">

<header id="gh-head" class="gh-head">

    {{!-- Navigation --}}
    <nav class="gh-head-inner gh-container">

        {{!-- Branding set in admin panel --}}
        <div class="gh-head-brand">
            
            {{!-- @site provides access to global settings defined in your admin panel and available everywhere in your theme. --}}
            <a class="gh-head-logo" href="{{@site.url}}">

                {{!-- If you have added a logo in admin panel, show the logo if not, show the title. --}}
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            
            {{!-- Mobile burger menu --}}
            <a class="gh-burger" role="button">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        
        </div>
        
        
        <div class="gh-head-menu">
            {{!-- Formats the navigation menu items defined in Ghost admin panel. Customized with partials/navigation.hbs  --}}
            {{navigation}}
        </div>
        

        <div class="gh-head-actions">
            {{!-- Social media buttons. URLs added via Ghost admin panel.  --}}
            <div class="gh-head-actions-list">
                {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            </div>
        </div>
    </nav>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="gh-foot">
    {{!-- Footer  --}}
    <div class="gh-container">
        <div class="gh-foot-menu">
            {{navigation}}
        </div>
        <div class="gh-foot-meta">
            An ongoing experiment with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}

{{!-- various assets loaded via the asset helper --}}
<script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>

{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "built/infinitescroll.js"}}"></script>
{{/if}}

<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
});
</script>

{{#is "post, page"}}
<script src="{{asset "built/jquery.fitvids.js"}}"></script>
<script>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
});
$(document).ready(function () {
    var $postContent = $(".gh-content");
    $postContent.fitVids();
});
</script>
{{/is}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
